streamlit
torch
whisperx
ffmpeg
ffmpeg-python
yt-dlp
librosa
numpy
soundfile
transformers
langchain
langchain-groq
langchain-community
langchain-huggingface
faiss-cpu
openai
youtube-transcript-api
fpdf2
python-docx
streamlit-mic-recorder
pandas
vocal-remover
